<div>
    <form  class="forgetForm" [formGroup]="forgetPassword">
        <h2>Forget Password</h2>
        <div class="FormContent">
            <label >Email ID:</label>
            <input type="email" formControlName="Email">
        </div>
        <div class="FormContent">
            <label>Password:</label>
            <input type="password" formControlName="Password">
        </div>
        <div class="FormContent">
            <label>Re-type Password:</label>
            <input type="password" formControlName="ConfirmPassword">
        </div>
         <div class="FormContent">
            <button type="submit" class="btn-submit" (click)="gotohome()">Submit</button>
         </div>
         <button class="btn-cancel" routerLink="/login">Cancel</button>
    </form>
</div>
